:root.theme-light {
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;
  --header-menu-color: #353430;
  --header-title-color: #FFC2E6;
  --title-text-decor-color: #353430;
  --page-background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --text-color:#353430;
  --section-main-title-color: #353430;
  --footer-title-color: #FFC2E6;
  --button-hover-color: #32312D66;
  --button-main-color: #353430;
  --button-active-color: #353430;
}

.theme-light .header__decorated-element {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --decorated-zone-color: #353430;
    --header-menu-color: #353430;
    --header-title-color: #FFC2E6;
    --title-text-decor-color: #353430;
    --page-background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --text-color:#353430;
    --section-main-title-color: #353430;
    --footer-title-color: #FFC2E6;
    --button-hover-color: #32312D66;
    --button-main-color: #353430;
    --button-active-color: #353430;
  }

  .header__decorated-element {
    visibility: hidden;
  }
}
